*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
}

.nav-row{
display: flex;
justify-content: space-around;
/*width: 1280px;*/
background: rgba(0, 0, 0, 0.8);
font-size: 15px;
text-align: center;
color: #FFFFFF
}

.nav-item{
  display: inline-block;
  padding: 2px;
  width: 110px;
  font-size: 20px;
  line-height: 2;
  font-weight: 200;
  font-family: 'Josefin Sans';
  color: #FFFFFF;
  text-decoration: none;
}

a{
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
}

.page-header{
  background-image: url('../img/header-img.jpg');
  height: 560px;
  /*width: 1280px;*/
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.header-content{
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 800px;
  padding: 10px;
  text-align: center
}

.main-heading{
  font-size: 150px;
  font-family: 'Josefin Sans';
  color: rgba(0, 0, 0, 0.8);
}

.sub-heading{
  font-size: 100px;
  font-family: 'Dancing Script';
  color: #FFFFFF
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 250, 236);
  margin: 0 50px;
  align-items: flex-start;
}



#dino{
  background-image: url('../img/dino.jpg');
  background-size: cover;
  width: 130px;
  height: 130px;
}

#xx{
  background-image: url('../img/xx.png');
}

#yhact-img{
  background-image: url('../img/yhact.jpg');
}

#bio{
  background-image: url('../img/author.jpegß');
}
.item{
  background-color: #FFFFFF;
  padding: 20px;
  position: relative;
  margin: 50px 50px;
  width: 420px;
}

aside{
  width: 220px;
  padding: 25px;
  border: 5px solid gray;
  position: relative;
  margin-top: 25px;

}
